.container {
    display: flex;
    width: 400px;
    height: 500px;
    flex-direction: column;
    border: solid 1px rgb(116, 116, 116);
  }
  
  .display-screen {
    display: flex;
    flex-grow: 1;
    font-size: 30px;
    align-items: end;
    justify-content: end;
    padding: 20px;
    font-family: monospace;
  }
  
  .all-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
  .buttons {
    height: 60px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: monospace;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
    border-radius: 8px;
    margin: 1px;
    background-color: rgb(242, 242, 242);
  }
  
  .buttons:hover {
    transform: scale(1.08);
    background-color: rgb(211, 211, 211);
  }
  
  .buttons:active {
    transform: scale(0.98);
    background-color: rgb(190, 190, 190);
  }