:root {
  --hover-color: #000;
}

.container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid #000;
}

.container > div {
  background-color: #fff;
}

h1 {
  text-align: center;
}

.cell {
  border: rgba(0, 0, 0, 0.085) solid;
  border-width: 1px;
}

.cell:hover {
  background-color: var(--hover-color);
}

body {
  font-family: Roboto, Arial;
  font-weight: 600;
  font-size: 2rem;
}

button {
  height: 40px;
  width: 150px;
  margin: 20px;
  font-size: 1rem;
  font-family: Roboto, Arial;
  font-weight: 500;
  border: none;
  background-color: rgb(249, 143, 12);
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  opacity: 0.85;
}

button:active {
  transform: scale(0.98);
  opacity: 0.6;
}

.rangeInput {
  width: 200px;
  padding: 20px;
}

.colorInput {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: none;
  padding: 20px;
}

.grid-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
}