body {
  background-color: black;
  font-family: Roboto, Arial;
  margin: 0;
  display: flex;
}

.navbar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 231px;
  border-right: solid 1px rgb(45, 45, 45);
  color: rgb(224, 241, 255);
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 13px;
}

.insta-logo {
  height: 29px;
  cursor: pointer;
}

.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  margin: 4px 0px 0px 0px;
}

.brand {
  padding: 5px 0px 5px 7px;
  margin: 10px 0px 10px 5px;
}

.top-section {
  margin: 5px 0px 10px 0px;
  display: flex;
}

.home-icon {
  height: 24px;
}

.search-icon {
  height: 23px;
}

.explore-icon {
  height: 23px;
}

.reels-icon {
  height: 23px;
}

.messages-icon {
  height: 23px;
}

.notifications-icon {
  height: 21px;
}

.create-icon {
  height: 22px;
}

.my-profile-icon {
  height: 24px;
  border-radius: 12px;
}

.more-icon {
  height: 24px;
}

.items {
  display: flex;
  padding: 12px 0px 12px 12px;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s;
  margin: 4.5px 12px 4.5px 0px;
  border-radius: 8px;
}

.items:hover {
  background-color: #ffffff1a;
}

.items:hover img {
  transform: scale(1.07);
}

.items:active {
  opacity: 0.5;
}

.items:active img {
  transform: scale(0.97);
}

.items label {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  vertical-align: middle;
  margin-left: 16px;
}

.items1 {
  display: flex;
  padding: 12px 0px 12px 12px;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s;
  margin: 4px 12px 4px 0px;
  border-radius: 8px;
}

.items1:hover {
  background-color: #ffffff1a;
}

.items1:hover img {
  transform: scale(1.05);
}

.items1:active {
  opacity: 0.5;
}

.items1:active img {
  transform: scale(0.97);
}

.items1 label {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  vertical-align: middle;
  margin-left: 16px;
}

.lower-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main {
  margin-left: 245px;
  flex-grow: 1;
  color: rgb(250, 250, 250);
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 600;
}

.post {
  margin: auto;
  border: solid 1px red;
  margin-top: 10px;
  width: 470px;
  height: 708px;
}

.top-section-post {
  border: solid 1px yellow;
  height: 56px;
  align-items: center;
  display: flex;
}

.profile-pic1 {
  height: 30px;
  border-radius: 50%;
}

.verified-icon {
  height: 11px;
  margin-left: 4px;
}

.time-post {
  font-weight: 400;
  font-size: 14px;
  color: rgb(168, 168, 168);
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.time-post::before {
  content: "\00B7";
  font-weight: bold;
  font-size: 25px;
  margin-right: 4px;
}

.profile-info-div {
  padding: 0 3px 0 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  border: solid 1px green;
}

.profile-name {
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
}

.profile-pic-div {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 3px 0 3px;
  border: solid 1px plum;
}

.further-info {
  margin: 0 0 0 0;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 12px
}

.options-icon {
  height: 15px;
}

.options-div {
  display: flex;
  height: 100%;
  margin: 0;
  align-items: center;
  padding: 0 5px 0 5px;
  border: solid 1px white;
}