* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(238, 238, 238);
  font-family: Lato, sans-serif;
  color: black;
}

.brand-logo-img {
  width: 19.5rem;
  
}

.navbar {
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: rgb(238, 238, 238);
  font-family: Lato, sans-serif;
}

.left-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.right-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

a {
  text-decoration: none;
  font-family: Lato, sans-serif;
  color: black;
}

main {
  margin-top: 76px;
  font-family: Lato, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.email-div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.email {
  width: 275px;
  padding: 5px;
  margin: 0;
  font-size: 13.33px;
}

.submit {
  margin: 15px 0 0 0;
  height: 30px;
  width: 150px;
  color: black;
  background-color: rgb(241, 196, 15);
  font-size: 17px;
  border: none;
  font-family: Lato, sans-serif;
  font-weight: 900;
  cursor: pointer;
}

.submit:hover {
  background-color: orange;
  transition: 1s;
}

.sub-headings {
  text-align: start;
  margin: 70px 0 2px 0;
}

.product-info-para {
  margin: 0 0 0 0;
}

.product-info-div {
  text-align: start;
  margin: 40px 20px 0 20px;
}

iframe {
  width: 100%;
  margin-top: 100px;
}

.iframe-div {
  max-width: 560px;
  flex: 1;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.pricing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 70px;
  column-gap: 20px;
  width: 100%;
}

.pricing-div {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
}

.left-card {
  border: solid 1px black;
}

.middle-card {
  border: solid 1px black;
}

.right-card {
  border: solid 1px black;
}

.all-cards {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lower-card {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.product-name1 {
  background-color: rgb(221, 221, 221);
  margin: 0;
  padding: 15px 0 15px 0;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.price1 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 20px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.lorem-para {
  margin: 0;
  padding: 5px 0px 5px 0;
}

.select {
  margin-top: 25px;
  margin-bottom: 15px;
  color: black;
  background-color: rgb(241, 195, 15);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 102px;
}

.select:hover {
  transition: 1s;
  background-color: orange;
}

.bottom-nav {
  background-color: rgb(221, 221, 221);
  margin-top: 30px;
  margin-bottom: 0;
  padding: 40px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 41px;
  flex-grow: 1;
  max-width: 1000px;
}

.bottom-nav-div {
  justify-content: center;
  display: flex;
  margin-bottom: 0;
}

.bottom-nav-para {
  margin: 5px 0 5px 0;
  color: rgb(68, 68, 68);
  font-size: 14.4px;
}

.bottom-a {
  margin: 0;
  padding: 0 10px 0 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}


@media screen and (max-width: 800px) {
  .pricing {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 311px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .product-info-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 20px 0 20px;
  }
}

@media screen and (max-width: 650px) {
  .right-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px 0;
    height: auto;
  }

  main {
    margin-top: 100px;
  }

  a {
    margin: 2px 0 2px 0;
  }
}